.create-account-title {
	text-align: center;
}

.form-error {
	min-height: 30px;
	font-size: small;
}

.form-signup-btn {
	background-color: var(--main-color);
	width: 100%;
	justify-content: center;
}

.form-signup-btn:hover {
	background-color: #15cc45;
}

.form-signup-btn:focus {
	outline: none;
	background-color: var(--main-color);
	box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.2);
}

.form-signup-btn:active {
	background-color: var(--main-color);
	box-shadow: none;
}

.or-text {
	text-align: center;
}
